{{!-- <!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            
                <h1>
                    HOME!!!!!
                </h1>

        </div>
    </div>
</div>
<!-- END MAIN CONTENT--> --}}
<!-- WELCOME-->
<section class="welcome2 p-t-40 p-b-55" style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="au-breadcrumb3">
                    <span class="subheading">BEM-VINDO A CMM</span>
                    <h1 class="mb-6">L- <span> CMMS</span> provide</h1>
                    <p class="mb-4">ferramentas confiáveis de programação, rastreamento e relatórios para manutenção de equipamentos e instalações.
                    É fácil e simples de usar para o gerenciamento de organizações médicas.</p>
                </div>
                <p> {{__ "phrase1"}} </p>

            </div>
        </div>
    </div>
</section>
 <!-- END WELCOME-->

<!-- STATISTIC-->
<section class="statistic statistic2" >
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="statistic__item statistic__item--green">
                    <div class="login-logo">
                        <h2><i class="far fa-calendar-check"></i></h2>
                    </div>
                    <span></span>
                    <div class="login-logo"><h2>Ordem de Serviço</h2></div>
                    <span class="desc">Fazer o trabalho de maior prioridade e, ao mesmo tempo, garantir que o trabalho de menor prioridade não escorregue através das rachaduras</span>  
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="statistic__item statistic__item--orange">
                    <div class="login-logo">
                        <h2><i class="fa fa-cogs"></i></h2>
                    </div>
                    
                    <div class="login-logo"><h2>Gestão de peças</h2></div>
                    <span class="desc">Rastrear e informar sobre o consumo de itens com registros de inventário simples.</span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="statistic__item statistic__item--blue">
                    <div class="login-logo">
                        <h2><i class="fa fa-clone"></i></h2>
                    </div>
                    <div class="login-logo"><h2>Ver Relatórios</h2></div>
                    <span class="desc">Visualização de relatórios importantes como PPM,Instalação,Inspeção diária.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="statistic__item statistic__item--red">
                    <div class="login-logo">
                        <h2><i class="fa fa-heartbeat"></i></h2>
                    </div>
                    <div class="login-logo"><h2>Prolongar a vida útil do equipamento</h2></div>
                    <span class="desc">Identificar áreas problemáticas em seu patrimônio, verificando o histórico de ordens de serviço e dizendo, além da manutenção programada</span>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="statistic__item statistic__item--violet">
                    <div class="login-logo">
                        <h2><i class="fa fa-clock-o"></i></h2>
                    </div>
                    <div class="login-logo"><h2>Minimizar o tempo de inatividade</h2></div>
                    <span class="desc">Reduzir o tempo de inatividade do equipamento otimizando a programação de manutenção e reduzindo o tempo necessário para responder a reparos de emergência</span>
                    
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="statistic__item statistic__item--blue2">
                    <div class="login-logo">
                        <h2><i class="fa fa-cog"></i></h2>
                    </div>
                    <div class="login-logo"><h2>Reduzir as despesas de manutenção</h2></div>
                    <span class="desc">Reduza o número de avarias dispendiosas e desenvolva uma melhor supervisão do uso de suas peças e suprimentos</span>
                </div>
            </div>
        </div>
    </div>
</section>



